{% extends 'base.html' %}

{% block content %}
    <h1>Nerds's Blogs</h1>
    <ul>
        {% for post in object_list %}
        <li>
            <a href="{% url 'article-view' post.pk %}">{{ post.title }}</a> - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} 
            {% if user.is_authenticated %}
            {% endif %}
            <small>
                <br>
                {{ post.body|slice:":150"|safe }}
            </small>
        </li>
    {% endfor %}
    </ul>
{% endblock %}