{% extends 'base.html' %}

{% block content %}
    <h1>Abhiram's Blog</h1>
    <ul>
        {% for post in object_list %}
        <li>
            <a href="{% url 'article-view' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} 
            {% if user.is_authenticated %}
                - <small><a href="{% url 'edit-post' post.pk %}">Edit</a></small>
            {% endif %}
            <small>
                <br>
                {{ post.body|slice:":150" }}
            </small>
        </li>
    {% endfor %}
    </ul>
{% endblock %}